@model IEnumerable<ShipleySwine.FAQ>

@{
    ViewBag.Title = "Index";
    int number = 1;
    string heading = "heading";
    string datatarget = "#collpase";
    string ariacontrols = "collapse"; 
}
<div @*style="background-color: #f8f9fa;"*@ class="container backgroundcolor pb-5">
    <div style="height:150px;" class="row rounded mb-5">
        <div class="col-12 rounded">
            <div class="row text-center align-middle" style="margin-top:45px;">
                <div class="col-1"></div>
                <div style="background-color:white;" class="col-10 text-center align-middle shadow rounded pt-2 pb-2">
                    <h2 class="align-middle mt-4 font-weight-bold">Frequently Asked Questions</h2>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>

@*<div style="background-color:whitesmoke; height: 100px; vertical-align:middle; display:table; width:100%;">
    <div style="vertical-align:middle; display:table-cell;" class="text-center w-auto align-content-center justify-content-center align-items-center">
    </div>
</div>*@

@*<div class="container">*@

    <div class="accordion backgroundcolor" id="accordionExample">
        @{int i = 0;}
        @foreach (var item in Model)
        {
        <div class="card-group" id="accordion_@i">
            <div class="card" id="panel_@i">
                <div class="card-header">
                
                    <h4 class="panel-title text-center w-100">
                        <button class="btn btn-link w-100" data-toggle="collapse" data-target="#collapseOne_@i" href="#collapseOne_@i">

                            @item.Question
                        </button>
                    </h4>
                
                
                </div>
                <div id="collapseOne_@i" class="collapse">
                    <div class="card-body">

                        @if (item.Answer.Contains("<"))
                        {
                            @Html.Raw(item.Answer);


                        }else
                        {
                            @item.Answer;
                        }


                       @* @item.Answer *@
                    </div>
                </div>
            </div>
        </div>
        i++;
        }
    </div>
@*</div>*@
</div>
@*<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="heading1">
            <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    Collapsible Group Item #1
                </button>
            </h5>
        </div>

        <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Collapsible Group Item #3
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Collapsible Group Item #4
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>*@
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Question)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Answer)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>*@
