@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ShipleySwine.Winner>

@{
    /**/

    ViewBag.Title = "Index";
    int count = 1;
    int count2 = 1;
    int count3 = 1;
}

    <div class="row" style="text-align:center; ">
        <div class="col-2"> </div>
        <div class="col-8 backgroundcolor" style="padding-bottom:25px;">

            <h1 style="color:black; font-weight:800;  padding-top:25px;"> click the link below to view all winners </h1>
            <div>
                <a style="color:blue; font-size:large; text-decoration:underline;" href="https://www.facebook.com/pg/shipleyswine/photos/?tab=album&album_id=2498431406912432&ref=page_internal">View Winners</a>
            </div>
        </div>
        <div class="col-2">

        </div>

    </div>

@*

<div class="col-xl col-lg hidden-md  hidden-sm hidden-xs">

    <div class="row">
    @foreach (var item in Model)
    {
        var imageURL = "~/Assets/WinnersPics/Large/" + item.ImageURL.Substring(13, item.ImageURL.Length - 13);

        if (count2 == 4)
        {
            @:</div>
            @:<div class="row mt-5">
                count2 = 1;
        }

                <div class="col-4 text-center justify-content-center align-content-center align-items-center">
                    <div class="w-100 h-100 text-center justify-content-center align-content-center align-items-center ">
                        <div style="height: 200px; width: 300px;" class="ui move reveal m-auto rounded">
                            <div class="visible content rounded">
                                <img style="height: 200px; width: 300px;" src="@Url.Content(imageURL)" class="ui small image rounded">
                            </div>
                            <div style="background-color: black; color:white; overflow:scroll; padding-left:3px; padding-right:3px;" class="hiddenn content w-100 h-100 rounded">
                                <h5 class="
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                    ">@item.Name<br></h5>
                                <div class="mt-3"></div>
                                <h6>@item.Won</h6>
                                <div class="mt-3"></div>
                                <div>@item.Act</div>
                                <div class="mt-3"></div>
                                <div>@item.Pedigree</div>
                            </div>
                        </div>
                    </div>
                </div>
        count2++;
    }

      </div>
</div>

<div class="hidden-xl hidden-lg col-md col-sm hidden-xs">

    <div class="row">
        @foreach (var item in Model)
        {
            var imageURL = "~/Assets/WinnersPics/Large/" + item.ImageURL.Substring(13, item.ImageURL.Length - 13);

            if (count3 == 3)
            {
            @:</div>
            @:<div class="row mt-5">
                count3 = 1;
            }

            <div class="col-6 text-center justify-content-center align-content-center align-items-center">
                <div class="w-100 h-100 text-center justify-content-center align-content-center align-items-center ">
                    <div style="height: 200px; width: 300px;" class="ui move reveal m-auto rounded">
                        <div class="visible content rounded">
                            <img style="height: 200px; width: 300px;" src="@Url.Content(imageURL)" class="ui small image rounded">
                        </div>
                        <div style="background-color: black; color:white; overflow:scroll; padding-left:3px; padding-right:3px;" class="hiddenn content w-100 h-100 rounded">
                            <h5 class="mt-3">@item.Name<br></h5>
                            <div class="mt-3"></div>
                            <h6>@item.Won</h6>
                            <div class="mt-3"></div>
                            <div>@item.Act</div>
                            <div class="mt-3"></div>
                            <div>@item.Pedigree</div>
                        </div>
                    </div>
                </div>
            </div>
            count3++;
        }

    </div>
</div>


<div class="hidden-xl hidden-lg hidden-md hidden-sm col-xs">

    <div class="row">
        @foreach (var item in Model)
        {
            var imageURL = "~/Assets/WinnersPics/Large/" + item.ImageURL.Substring(13, item.ImageURL.Length - 13);

            if (count == 2)
            {
            @:</div>
            @:<div class="row mt-5">
                count = 1;
            }

            <div class="col-12 text-center justify-content-center align-content-center align-items-center">
                <div class="w-100 h-100 text-center justify-content-center align-content-center align-items-center ">
                    <div style="height: 200px; width: 300px;" class="ui move reveal m-auto rounded">
                        <div class="visible content rounded">
                            <img style="height: 200px; width: 300px;" src="@Url.Content(imageURL)" class="ui small image rounded">
                        </div>
                        <div style="background-color: black; color:white; overflow:scroll; padding-left:3px; padding-right:3px;" class="hiddenn content w-100 h-100 rounded">
                            <h5 class="mt-3">@item.Name<br></h5>
                            <div class="mt-3"></div>
                            <h6>@item.Won</h6>
                            <div class="mt-3"></div>
                            <div>@item.Act</div>
                            <div class="mt-3"></div>
                            <div>@item.Pedigree</div>
                        </div>
                    </div>
                </div>
            </div>
            count++;
        }

    </div>
</div>
            


        <div class="row text-center align-content-center align-items-center justify-content-center">
            <div class="text-center">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                new PagedListRenderOptions()
                {
                    Display = PagedListDisplayMode.IfNeeded,
                    DisplayPageCountAndCurrentLocation = true,
                    ContainerDivClasses = new[] { "pagination-container text-center align-content-center justift-content-center l-50" }
                })
            </div>
        </div>
    *@   