@model ShipleySwine.ViewModels.HomePageViewModel
    @{
        ViewBag.Title = "Home Page";
        string imagesrc = "~/Boars/" + Model.NewBoars[Model.randomBoar].Breed + "/" + Model.NewBoars[Model.randomBoar].NameNoSpaces + "/Large/" + Model.NewBoars[Model.randomBoar].NameNoSpaces + 1 + ".jpg";
    }
    
<head>
    <link rel=”stylesheet” href=”https://use.typekit.net/mwc5sqa.css”>
</head>

<body>
    <div class="col-lg hidden-md hidden-sm hidden-xs">

        <div class="container">
            @*<div class="row mb-3 rounded">
                <div class="col-12 rounded">
                    <div class="cardd cardd-image" style="background-image: url('@Url.Content("~/Assets/Images/bandw.jpg")'); background-repeat:no-repeat; background-size:cover;">
                        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                            <div class="py-5">
                                <h1 class="card-title h22 my-4 py-2">Shipley guarantee on semen!</h1>
                                <p class="mb-4 pb-2 px-md-5 mx-md-5">
                                    We strive to send out the best quality semen in the industry! To prove our commitment to you, any boar semen you purchase from us normally priced at $100/dose or more and not discounted or at over run is guaranteed to settle. If sows come back in heat within the first 30 days after breeding, we will replace the semen. You will pay only for the packing materials and shipping charges.
                                </p>
                                <p class="mx-5 mb-5">
                                    <strong>High-quality semen from high-quality boars, GUARANTEED! </strong>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row justify-content-center">
                <div class="col-lg-3 hidden-md hidden-sm hidden-xs mt-3">
                    <div class="fb-page shadow" data-href="https://www.facebook.com/shipleyswine/" data-tabs="timeline" data-width="" data-height="420.09" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shipleyswine/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shipleyswine/">Shipley Swine Genetics</a></blockquote></div>
                </div>
                <div class="col-lg-6 col-md-10 col-sm-10 col-xs-10 mt-3">
                    <div class="iframe-container video shadow">
                        <iframe class="embed-responsive-item shadow" src="https://www.youtube.com/embed/r-xYyqNVUd0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div style="height:124.86px;" class="mt-4">
                        <div style="background-color:white; width:49%; height:100%; font-family: 'Alegreya Sans SC', sans-serif; font-size:12px;" class="border-white text-center pull-left d-flex align-items-center justify-content-center rounded shadow-lg">Gilts/Sows Bred today will farrow:<br />@DateTime.Today.AddDays(+114).ToString("MM-dd-yyyy")</div>
                        <div style="background-color:white; width:49%; height:100%; font-family: 'Alegreya Sans SC', sans-serif; font-size:12px;" class="border-white text-center pull-right d-flex align-items-center justify-content-center rounded shadow-lg">We are now breeding for: <br />@DateTime.Now.AddDays(114).ToString("MMMM"), @DateTime.Now.AddDays(114).AddMonths(1).ToString("MMMM"), @DateTime.Now.AddDays(114).AddMonths(2).ToString("MMMM") litters</div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-10 col-sm-10 col-xs-10 mt-3">
                    <div class="card shadow" style="width: 100%; background-color: rgba(139,0,0,.4);">
                        <div class="text-center mt-3">
                            <div style="color:white; font-family: 'Anton', sans-serif; font-size:18px;">New Boar!</div>
                            <div style="color:white; font-family: 'Alegreya Sans SC', sans-serif; font-size:30px;">@Model.NewBoars[Model.randomBoar].Name</div>
                        </div>
                        <img class="card-img-top h-100" src="@Url.Content(imagesrc)" alt="Card image cap">
                        <div style="color:white; font-size:14px; font-weight:100;" class="text-center mt-2">
                            <div>@Model.NewBoars[Model.randomBoar].Sire X @Model.NewBoars[Model.randomBoar].Dam</div>
                        </div>
                        <hr />
                        <div style="color:white; font-size:16px;" class="card-body text-center">
                            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                            <div>Delivery Available</div>
                            <div>COAST TO COAST!</div>
                        </div>
                        @*<ul class="list-group list-group-flush">
                        <li style="background-color: rgba(255,0,0,0.6) !important;" class="list-group-item">Cras justo odio</li>
                        <li style="background-color: rgba(255,0,0,0.6);" class="list-group-item">Dapibus ac facilisis in</li>
                        <li style="background-color: rgba(255,0,0,0.6);" class="list-group-item">Vestibulum at eros</li>
                    </ul>*@
                        <hr />
                        <div class="card-body justify-content-between">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <a id="cardlinkleft" style="color:black !important;" href="" class="card-link cardlinkleft">@Html.ActionLink("More Details", "Details", "Boars", new { id = @Model.NewBoars[Model.randomBoar].Boar_Id }, new { @class = "btn btn-outline-light" })</a>
                                </div>
                                <div class="col-6 text-center">
                                    <a id="cardlinkright" class="card-link cardlinkright">@Html.ActionLink("New Boars", "NewBoars", "Boars", null, new { @class = "btn btn-outline-light" })</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-3 text-center">
                    <div class="fb-group shadow" data-href="https://www.facebook.com/groups/1986481321649713/" data-width="249" data-show-social-context="true" data-show-metadata="false"></div>
                </div>
                <div class="col-lg-9">

                    <!-- Grid column -->
                    <div class="col-lg-6 mb-md-0 mb-4">
                        <div class="cardd cardd-image shadow" style="background-image: url('@Url.Content("~/Assets/Images/countimage1.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        @*<strong>@ViewBag.BoarCount</strong>*@
                                        @*<strong>Boar Videos!</strong>*@
                                        <strong>
                                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        View our boar videos!
                                    </p>
                                    <a>@Html.ActionLink("View Videos", "BoarVideos", "Boars", null, new { @class = "btn btn-rounded btn-outline-white btn-lg" })</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-lg-6 mb-md-0 mb-4">
                        <div class="cardd cardd-image shadow" style="background-image: url('@Url.Content("~/Assets/Images/countimage2.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        @*<strong>@ViewBag.GiltCount</strong>*@
                                        <strong>
                                            <i class="fa fa-certificate" aria-hidden="true"></i>
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        Request your AI certificate!
                                    </p>
                                    <a>@Html.ActionLink("View AI Certificate", "Certificate", "Home", null, new { @class = "btn btn-rounded btn-outline-white btn-lg" })</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                @*<div class="col-lg-3 text-center">
                <div class="d-inline-block rounded m-auto">
                    <a href="~/Home/Catalog">
                        <img class="rounded" src="~/Assets/Images/smallShipleyCatalog.png" />
                    </a>
                    <a href="~/Home/Catalog" class="btn btn-primary d-block">View the catalog</a>
                </div>
            </div>*@
            </div>
            <div class="row mt-5 ">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <div class="cardd cardd-image shadow">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                            <div class="w-100">
                                <h3 class="py-3 font-weight-bold" style="font-size:12px;">
                                    <strong>
                                        Shipley guarantee on semen!
                                    </strong>
                                </h3>
                                <p style="font-size: 12px;" class="pb-3">
                                    We strive to send out the best quality semen in the industry! To prove our commitment to you, any boar semen you purchase from us normally priced at $100/dose or more and not discounted or at over run is guaranteed to settle. If sows come back in heat within the first 30 days after breeding, we will replace the semen. You will pay only for the packing materials and shipping charges.
                                </p>
                                <strong>High-quality semen from high-quality boars, GUARANTEED!</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>

    <div class=" hidden-lg col-md hidden-sm hidden-xs">

        <div class="container">
            @*<div class="row mb-3 rounded">
                <div class="col-12 rounded">
                    <div class="cardd cardd-image shadow" style="background-image: url('@Url.Content("~/Assets/Images/bandw.jpg")'); background-repeat:no-repeat; background-size:cover;">
                        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                            <div class="py-5">
                                <h1 class="card-title h22 my-4 py-2">Shipley guarantee on semen!</h1>
                                <p class="mb-4 pb-2 px-md-5 mx-md-5">
                                    We strive to send out the best quality semen in the industry! To prove our commitment to you, any boar semen you purchase from us normally priced at $100/dose or more and not discounted or at over run is guaranteed to settle. If sows come back in heat within the first 30 days after breeding, we will replace the semen. You will pay only for the packing materials and shipping charges.
                                </p>
                                <p class="mx-5 mb-5">
                                    <strong>High-quality semen from high-quality boars, GUARANTEED! </strong>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row justify-content-center">
                <div class=" col-md-8 mt-3">
                    <div>
                        <div class="iframe-container video shadow">
                            <iframe class="embed-responsive-item shadow" src="https://www.youtube.com/embed/r-xYyqNVUd0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div style="height:124.86px;" class="mt-4">
                            <div style="background-color:white; width:49%; height:100%; font-family: 'Alegreya Sans SC', sans-serif; font-size:12px;" class="border-white text-center pull-left d-flex align-items-center justify-content-center rounded shadow-lg">Gilts/Sows Bred today will farrow:<br />@DateTime.Today.AddDays(+114).ToString("MM-dd-yyyy")</div>
                            <div style="background-color:white; width:49%; height:100%; font-family: 'Alegreya Sans SC', sans-serif; font-size:12px;" class="border-white text-center pull-right d-flex align-items-center justify-content-center rounded shadow-lg">We are now breeding for: <br />@DateTime.Now.AddDays(114).ToString("MMMM"), @DateTime.Now.AddDays(114).AddMonths(1).ToString("MMMM"), @DateTime.Now.AddDays(114).AddMonths(2).ToString("MMMM") litters</div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 mt-3">
                    <div class="card" style="width: 100%; background-color: rgba(139,0,0,.4);">
                        <div class="text-center mt-3">
                            <div style="color:white; font-family: 'Anton', sans-serif; font-size:18px;">New Boar!</div>
                            <div style="color:white; font-family: 'Alegreya Sans SC', sans-serif; font-size:30px;">@Model.NewBoars[Model.randomBoar].Name</div>
                        </div>
                        <img class="card-img-top" src="@Url.Content(imagesrc)" alt="Card image cap">
                        <div style="color:white; font-size:14px; font-weight:100;" class="text-center mt-2">
                            <div>@Model.NewBoars[Model.randomBoar].Sire X @Model.NewBoars[Model.randomBoar].Dam</div>
                        </div>
                        <hr />
                        <div style="color:white; font-size:16px;" class="card-body text-center">
                            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                            <div>Delivery Available</div>
                            <div>COAST TO COAST!</div>
                        </div>
                        @*<ul class="list-group list-group-flush">
                                <li style="background-color: rgba(255,0,0,0.6) !important;" class="list-group-item">Cras justo odio</li>
                                <li style="background-color: rgba(255,0,0,0.6);" class="list-group-item">Dapibus ac facilisis in</li>
                                <li style="background-color: rgba(255,0,0,0.6);" class="list-group-item">Vestibulum at eros</li>
                            </ul>*@
                        <hr />
                        <div class="card-body justify-content-between">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <a id="cardlinkleft" style="color:black !important;" href="" class="card-link cardlinkleft">@Html.ActionLink("More Details", "Details", "Boars", new { id = @Model.NewBoars[Model.randomBoar].Boar_Id }, new { @class = "btn btn-outline-light" })</a>
                                </div>
                                <div class="col-6 text-center">
                                    <a id="cardlinkright" class="card-link cardlinkright">@Html.ActionLink("New Boars", "NewBoars", "Boars", null, new { @class = "btn btn-outline-light" })</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-4 mb-5">
                <div class="col-md-4 text-center">
                    <div class="fb-group shadow" data-href="https://www.facebook.com/groups/1986481321649713/" data-width="249" data-show-social-context="true" data-show-metadata="false"></div>
                </div>
                <div class="col-md-8">

                    <!-- Grid column -->
                    <div class="col-md-6 mb-md-0 mb-4">
                        <div class="cardd cardd-image shadow" style="background-image: url('@Url.Content("~/Assets/Images/countimage1.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        <strong>
                                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        View our boar videos!
                                    </p>
                                    <a>@Html.ActionLink("View Videos", "BoarVideos", "Boars", null, new { @class = "btn btn-rounded btn-outline-white btn-lg" })</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-6 mb-md-0 mb-4 h-100">
                        <div class="cardd cardd-image shadow h-100" style="background-image: url('@Url.Content("~/Assets/Images/countimage2.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100 h-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        @*<strong>@ViewBag.GiltCount</strong>*@
                                        <strong>
                                            <i class="fa fa-certificate" aria-hidden="true"></i>
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        Request your AI certificate!
                                    </p>
                                    <a class="btn btn-rounded btn-outline-white btn-lg">AI Cert</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                @*<div class="col-md-2 text-center">
                    <div class="d-inline-block rounded m-auto">
                        <a href="~/Home/Catalog">
                            <img class="rounded" src="~/Assets/Images/smallShipleyCatalog.png" />
                        </a>
                        <a href="~/Home/Catalog" class="btn btn-primary d-block">View the catalog</a>
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="cardd cardd-image shadow">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                            <div class="w-100">
                                <h3 class="py-3 font-weight-bold" style="font-size:12px;">
                                    <strong>
                                        Shipley guarantee on semen!
                                    </strong>
                                </h3>
                                <p style="font-size: 12px;" class="pb-3">
                                    We strive to send out the best quality semen in the industry! To prove our commitment to you, any boar semen you purchase from us normally priced at $100/dose or more and not discounted or at over run is guaranteed to settle. If sows come back in heat within the first 30 days after breeding, we will replace the semen. You will pay only for the packing materials and shipping charges.
                                </p>
                                <strong>High-quality semen from high-quality boars, GUARANTEED!</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>

    <div class=" hidden-lg hidden-md col-sm hidden-xs">

        <div class="container">
            @*<div class="row mb-3 rounded">
                <div class="col-12 rounded">
                    <div class="cardd cardd-image shadow" style="background-image: url('@Url.Content("~/Assets/Images/bandw.jpg")'); background-repeat:no-repeat; background-size:cover;">
                        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                            <div class="py-5">
                                <h1 class="card-title h22 my-4 py-2">Shipley guarantee on semen!</h1>
                                <p class="mb-4 pb-2 px-md-5 mx-md-5">
                                    We strive to send out the best quality semen in the industry! To prove our commitment to you, any boar semen you purchase from us normally priced at $100/dose or more and not discounted or at over run is guaranteed to settle. If sows come back in heat within the first 30 days after breeding, we will replace the semen. You will pay only for the packing materials and shipping charges.
                                </p>
                                <p class="mx-5 mb-5">
                                    <strong>High-quality semen from high-quality boars, GUARANTEED! </strong>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="row justify-content-center">
                <div class=" col-sm-8 mt-3">
                    <div>
                        <div class="iframe-container video shadow">
                            <iframe class="embed-responsive-item shadow" src="https://www.youtube.com/embed/r-xYyqNVUd0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div style="height:124.86px;" class="mt-4">

                            <div style="background-color:white; width:49%; height:100%; font-family: 'Alegreya Sans SC', sans-serif; font-size:12px;" class="border-white text-center pull-left d-flex align-items-center justify-content-center rounded shadow-lg">Gilts/Sows Bred today will farrow:<br />@DateTime.Today.AddDays(+114).ToString("MM-dd-yyyy")</div>
                            <div style="background-color:white; width:49%; height:100%; font-family: 'Alegreya Sans SC', sans-serif; font-size:12px;" class="border-white text-center pull-right d-flex align-items-center justify-content-center rounded shadow-lg">We are now breeding for: <br /> @DateTime.Now.AddDays(114).ToString("MMMM"), @DateTime.Now.AddDays(114).AddMonths(1).ToString("MMMM"), @DateTime.Now.AddDays(114).AddMonths(2).ToString("MMMM") litters</div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4 mt-3">
                    <div class="card shadow" style="width: 100%; background-color: rgba(139,0,0,.4);">
                        <div class="text-center mt-3">
                            <div style="color:white; font-family: 'Anton', sans-serif; font-size:18px;">New Boar!</div>
                            <div style="color:white; font-family: 'Alegreya Sans SC', sans-serif; font-size:30px;">@Model.NewBoars[Model.randomBoar].Name</div>
                        </div>
                        <img class="card-img-top" src="@Url.Content(imagesrc)" alt="Card image cap">
                        <div style="color:white; font-size:14px; font-weight:100;" class="text-center mt-2">
                            <div>@Model.NewBoars[Model.randomBoar].Sire X @Model.NewBoars[Model.randomBoar].Dam</div>
                        </div>
                        <hr />
                        <div style="color:white; font-size:16px;" class="card-body text-center">
                            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                            <div>Delivery Available</div>
                            <div>COAST TO COAST!</div>
                        </div>
                        @*<ul class="list-group list-group-flush">
                        <li style="background-color: rgba(255,0,0,0.6) !important;" class="list-group-item">Cras justo odio</li>
                        <li style="background-color: rgba(255,0,0,0.6);" class="list-group-item">Dapibus ac facilisis in</li>
                        <li style="background-color: rgba(255,0,0,0.6);" class="list-group-item">Vestibulum at eros</li>
                    </ul>*@
                        <hr />
                        <div class="card-body justify-content-between">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <a id="cardlinkleft" class="card-link cardlinkleft">@Html.ActionLink("More Details", "Details", "Boars", new { id = @Model.NewBoars[Model.randomBoar].Boar_Id }, new { @class = "btn btn-outline-light" })</a>
                                </div>
                                <div class="col-6 text-center">
                                    <a id="cardlinkright" class="card-link cardlinkright">@Html.ActionLink("New Boars", "NewBoars", "Boars", null, new { @class = "btn btn-outline-light" })</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-4 mb-5">
                <div class="col-sm-12">

                    <!-- Grid column -->
                    <div class="col-sm-6 mb-md-0 mb-4">
                        <div class="cardd cardd-image shadow" style="background-image: url('@Url.Content("~/Assets/Images/countimage1.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        <strong>
                                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        View our boar videos!
                                    </p>
                                    <a>@Html.ActionLink("View Videos", "BoarVideos", "Boars", null, new { @class = "btn btn-rounded btn-outline-white btn-lg" })</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-sm-6 mb-md-0 mb-4 h-100">
                        <div class="cardd cardd-image shadow h-100" style="background-image: url('@Url.Content("~/Assets/Images/countimage2.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100 h-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        @*<strong>@ViewBag.GiltCount</strong>*@
                                        <strong>
                                            <i class="fa fa-certificate" aria-hidden="true"></i>
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        Request your AI certificate!
                                    </p>
                                    <a>@Html.ActionLink("View AI Certificate", "Certificate", "Home", null, new { @class = "btn btn-rounded btn-outline-white btn-lg" })</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                @*<div class="col-sm-4 text-center">
                <div class="d-inline-block rounded m-auto">
                    <a href="~/Home/Catalog">
                        <img class="rounded" src="~/Assets/Images/smallShipleyCatalog.png" />
                    </a>
                    <a href="~/Home/Catalog" class="btn btn-primary d-block">View the catalog</a>
                </div>
            </div>*@
            </div>
            <div class="row mb-3">
                <div class="col-sm-1"></div>
                <div class="col-sm-10">
                    <div class="cardd cardd-image shadow">
                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                            <div class="w-100">
                                <h3 class="py-3 font-weight-bold" style="font-size:12px;">
                                    <strong>
                                        Shipley guarantee on semen!
                                    </strong>
                                </h3>
                                <p style="font-size: 12px;" class="pb-3">
                                    We strive to send out the best quality semen in the industry! To prove our commitment to you, any boar semen you purchase from us normally priced at $100/dose or more and not discounted or at over run is guaranteed to settle. If sows come back in heat within the first 30 days after breeding, we will replace the semen. You will pay only for the packing materials and shipping charges.
                                </p>
                                <strong>High-quality semen from high-quality boars, GUARANTEED!</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <div class="row">
                <div class="col-sm-4 text-center">
                    <div class="fb-group shadow" data-href="https://www.facebook.com/groups/1986481321649713/" data-width="249" data-show-social-context="true" data-show-metadata="false"></div>
                </div>
                <div class="col-8">
                    <div class="fb-page ml-5 shadow" data-href="https://www.facebook.com/shipleyswine" data-tabs="" data-width="400" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shipleyswine" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shipleyswine">Shipley Swine Genetics</a></blockquote></div>
                </div>
            </div>

        </div>
    </div>

    <div class=" hidden-lg hidden-md hidden-sm col-xs">

        <div class="container">
            <div class="row mb-3 rounded">
                @*<div class="col-12 rounded">
                    <div class="cardd cardd-image shadow" style="background-image: url('@Url.Content("~/Assets/Images/bandw.jpg")'); background-repeat:no-repeat; background-size:cover;">
                        <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                            <div class="py-5">

                                <h1 class="card-title h22 my-4 py-2">Shipley guarantee on semen!</h1>
                                <p class="mb-4 pb-2 px-md-5 mx-md-5">
                                    We strive to send out the best quality semen in the industry! To prove our commitment to you, any boar semen you purchase from us normally priced at $100/dose or more and not discounted or at over run is guaranteed to settle. If sows come back in heat within the first 30 days after breeding, we will replace the semen. You will pay only for the packing materials and shipping charges.
                                </p>
                                <p class="mx-5 mb-5">
                                    <strong>High-quality semen from high-quality boars, GUARANTEED! </strong>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="row justify-content-center">
                <div class=" col-xs-12 mt-3">
                    <div>
                        <div class="iframe-container video shadow">
                            <iframe class="embed-responsive-item shadow" src="https://www.youtube.com/embed/r-xYyqNVUd0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div style="height:124.86px;" class="mt-4">
                            <div style="background-color:white; width:49%; height:100%; font-family: 'Alegreya Sans SC', sans-serif; font-size:12px;" class="border-white text-center pull-left d-flex align-items-center justify-content-center rounded shadow-lg pl-2 pr-2">Gilts/Sows Bred today will farrow:<br />@DateTime.Today.AddDays(+114).ToString("MM-dd-yyyy")</div>
                            <div style="background-color:white; width:49%; height:100%; font-family: 'Alegreya Sans SC', sans-serif; font-size:12px;" class="border-white text-center pull-right d-flex align-items-center justify-content-center rounded shadow-lg pl-2 pr-2">We are now breeding for: <br />@DateTime.Now.AddDays(114).ToString("MMMM"), @DateTime.Now.AddDays(114).AddMonths(1).ToString("MMMM"), @DateTime.Now.AddDays(114).AddMonths(2).ToString("MMMM") litters</div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 mt-3">
                    <div class="card shadow" style="width: 100%; background-color: rgba(139,0,0,.4);">
                        <div class="text-center mt-3">
                            <div style="color:white; font-family: 'Anton', sans-serif; font-size:18px;">New Boar!</div>
                            <div style="color:white; font-family: 'Alegreya Sans SC', sans-serif; font-size:30px;">@Model.NewBoars[Model.randomBoar].Name</div>
                        </div>
                        <img class="card-img-top" src="@Url.Content(imagesrc)" alt="Card image cap">
                        <div style="color:white; font-size:14px; font-weight:100;" class="text-center mt-2">
                            <div>@Model.NewBoars[Model.randomBoar].Sire X @Model.NewBoars[Model.randomBoar].Dam</div>
                        </div>
                        <hr />
                        <div style="color:white; font-size:16px;" class="card-body text-center">
                            @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                            <div>Delivery Available</div>
                            <div>COAST TO COAST!</div>
                        </div>
                        @*<ul class="list-group list-group-flush">
                                <li style="background-color: rgba(255,0,0,0.6) !important;" class="list-group-item">Cras justo odio</li>
                                <li style="background-color: rgba(255,0,0,0.6);" class="list-group-item">Dapibus ac facilisis in</li>
                                <li style="background-color: rgba(255,0,0,0.6);" class="list-group-item">Vestibulum at eros</li>
                            </ul>*@
                        <hr />
                        <div class="card-body justify-content-between">
                            <div class="row">
                                <div class="col-6 text-center">
                                    <a id="cardlinkleft" class="card-link cardlinkleft">@Html.ActionLink("More Details", "Details", "Boars", new { id = @Model.NewBoars[Model.randomBoar].Boar_Id }, new { @class = "btn btn-outline-light" })</a>
                                </div>
                                <div class="col-6 text-center">
                                    <a id="cardlinkright" class="card-link cardlinkright">@Html.ActionLink("New Boars", "NewBoars", "Boars", null, new { @class = "btn btn-outline-light" })</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-4">
                    <!-- Grid column -->
                    <div class="col-xs-12 mb-md-0 mb-4 h-100 shadow">
                        @*<div class="cardd cardd-image shadow" style="background-image: url(assets/images/countimage1.jpg); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        <strong>
                                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        view our boar videos!
                                    </p>
                                    <a>@html.actionlink("view videos", "boarvideos", "boars", null, new { @class = "btn btn-rounded btn-outline-white btn-lg" })</a>
                                </div>
                            </div>
                        </div>*@
                        <div class="cardd cardd-image shadow" style="background-image: url('@Url.Content("~/Assets/Images/countimage1.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:12px;">
                                        <strong>
                                            Shipley guarantee on semen!
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        We strive to send out the best quality semen in the industry! To prove our commitment to you, any boar semen you purchase from us normally priced at $100/dose or more and not discounted or at over run is guaranteed to settle. If sows come back in heat within the first 30 days after breeding, we will replace the semen. You will pay only for the packing materials and shipping charges.
                                    </p>
                                    <strong>High-quality semen from high-quality boars, GUARANTEED!</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row mt-2">

                    <div class="col-xs-12 mb-md-0 mb-4 h-100 shadow">
                        <div class="cardd cardd-image shadow h-100" style="background-image: url('@Url.Content("~/Assets/Images/countimage2.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100 h-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        @*<strong>@ViewBag.GiltCount</strong>*@
                                        <strong>
                                            <i class="fa fa-certificate" aria-hidden="true"></i>
                                        </strong>
                                    </h3>
                                    <p style="font-size: 12px;" class="pb-3">
                                        Request your AI certificate!
                                    </p>
                                    <a>@Html.ActionLink("View AI Certificate", "Certificate", "Home", null, new { @class = "btn btn-rounded btn-outline-white btn-lg" })</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    @*<div class="col-xs-6 mb-md-0 mb-4 h-100">
                        <div class="cardd cardd-image h-100" style="background-image: url('@Url.Content("~/Assets/Images/countimage2.jpg")'); background-repeat:no-repeat; background-size:cover">
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                                <div class="w-100 h-100">
                                    <h3 class="py-3 font-weight-bold" style="font-size:32px;">
                                        <strong>@ViewBag.GiltCount</strong>
                                    </h3>
                                    <p class="pb-3">
                                        Number of Bred Gilts to choose from!
                                    </p>
                                    <a class="btn btn-rounded btn-outline-white btn-md">View project</a>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <!-- Grid column -->
                </div>
                @*<div class="col-sm-4 text-center">
                    <div class="d-inline-block rounded m-auto">
                        <a href="~/Home/Catalog">
                            <img class="rounded" src="~/Assets/Images/smallShipleyCatalog.png" />
                        </a>
                        <a href="~/Home/Catalog" class="btn btn-primary d-block">View the catalog</a>
                    </div>
                </div>*@
            </div>
            <div class="row">
                <div class="col-xs-12 text-center justify-content-center">
                    <div class="fb-page shadow" data-href="https://www.facebook.com/shipleyswine" data-tabs="" data-width="400" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shipleyswine" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shipleyswine">Shipley Swine Genetics</a></blockquote></div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xs-12 text-center">
                    <div class="fb-group shadow" data-href="https://www.facebook.com/groups/1986481321649713/" data-width="249" data-show-social-context="true" data-show-metadata="false"></div>
                </div>
            </div>

        </div>
    
    <!--latest jQuery 3-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!--Bootstrap JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (!slides || slides.length === 0) {
                return;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            if (slides[slideIndex - 1]) {
                slides[slideIndex - 1].style.display = "block";
            }
            if (dots[slideIndex - 1]) {
                dots[slideIndex - 1].className += " active";
            }
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>
</body>
